@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{margin: 0; padding: 0;}
a{text-decoration: none; color: #365d56;}
ul{list-style: none;}
body{background: #fff; font-size: 16px; 
  font-family: 'SpoqaHanSansNeo-Regular'; color: #363636;
}

/*헤더*/
header{background-color: #fff; 

  height:  940px;
  /* margin-bottom: 80px; */

  width:100%;
   height:170px; /*이미지 높이가 높은편이라 a태그가 좀 아래에서 잡힘*/

  background: url(images/headerstyle.png)no-repeat center top;
  background-size: cover;

  position:absolute; 
  top:0; left:0; /*부모가 body 자식이 header*/
}



.headerbg{ width:100%;
  /* margin: 0 auto;  */
  /* width: 1920px;  */
  display: block; text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); position: absolute; z-index: 3; margin-left: -960px; left: 50%;}
.navbg{background-color: #fff;width: 100%; height: 78px; position: absolute; top: 0; z-index: 2; box-shadow: 5px, 5px, 5px, rgba(0, 0, 0, 0.3) ;}
.nav{width: 1320px; margin: 0 auto; height: 78px; position: absolute; top: 0; left: 50%; margin-left: -660px; text-align: center;z-index: 5;}
.menu1{float: left; font-size: 20px; font-weight: bold; }
.menu2{float: right; font-size: 20px; font-weight: bold; }
.menu1 li, .menu2 li{float: left; margin: 30px 0;}
.menu1 li a:hover, .menu2 li a:hover{color: #a7ceba;}
.menu1>li>a:hover .solid, .menu2>li>a:hover .solid{transform:scaleX(1);
    opacity:1;
    visibility:visible;}	
.solid{width:100%;
    margin-top:5px;
    height:2px;
    background:#365d56;
    visibility:hidden;
    opacity:0;
    transform:scaleX(0);
    transition-duration:0.5s;}
.m1{padding-right: 220px;}
.m2{padding-left: 270px;}

.logo{position: absolute; top: 11px; left: 50%; margin-left: -82.5px;}

/*메인배너*/
.main{z-index: 1; text-align: center; margin-bottom: 200px;}

.main img{
  /* width: 1920px; */
  width:100%; display:block;
 }

 /*drink*/

 .prize{width: 1320px; height: 700px;  margin: auto; margin-bottom: 200px;}
 .prize h1{text-align: center; margin-bottom: 85px;}
 .prize ul li{float: left; padding: 0px 40px;}
 .prizetb{border-bottom: 2px solid #363636; height: 28px; margin-bottom: 10px;}
 .prizeimg{margin-bottom: 10px; position: relative; overflow: hidden;}
 .prizetb p:nth-child(1){float: left;  }
 .prizetb p:nth-child(2){float: right;}
 .prizemiddle{height: 33px; margin-bottom: 10px; border-bottom: #363636 solid 2px; text-align: center;}
 .prizeimg a h3{color: #fff;}
 .prizeimg a img{display: block; border-radius: 0 60px 0 0;transition: all 0.5s;}
 .prizeimg a:hover img{border-radius: 0;  }
 
 .prizeimg .graybox{position: absolute; top: 0; left: 0; width: 250px; height: 300px; background-color: rgba(0, 0, 0, 0);  transform: translate(-250px);transition: all 0.8s; text-align: center;box-sizing: border-box; padding: 125px 0px;}
 .prizeimg a:hover .graybox{display: block; transform: scale(1, 1); background-color: rgba(0, 0, 0, 0.3);transform: translate(0px)}

 section{width: 1320px; margin: 0 auto;}
 h1{font-family: 'gownbatang'; font-size: 36px; text-align: center; margin-bottom: 120px; color: #365d56;}
 #drink li{float: left; width: 250px; text-align: center; margin-bottom: 100px; margin-right: 106px;}
 #drink li:nth-child(4),#drink li:last-child{margin-right: 0;}
 #drink{margin-bottom: 200px; height: 900px;}
 .dessert_title{color:#cd8347;}

/*dessert*/
 #dessert li{float: left; width: 250px; text-align: center; margin-bottom: 100px;}
 #dessert li p{padding-top: 20px;}
 #dessert{margin-bottom: 200px; height: 900px;}


 footer{width: 100%; height: 355px; background: url(images/footerbg.jpg); font-weight: 900; color: #365d56; line-height: 40px;}
.footer_inner{width: 1320px; margin: 0 auto; padding-top: 50px}
.footer_l{float: left; }
.footer_r{float: right;}
.footer_inner> a{text-align: center;}
.footer_t1{ margin-bottom: 50px;}
.footer_r a{display: block; position: relative;}
.footer_r a:hover img{ border-radius: 50%; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3) inset; border-radius: 50%;}

.footer_bottom{width: 860px; padding-left: 361px; margin-bottom: 20px; clear: both; margin-top: 130px;}
.footer_t2{float: left; padding-right: 40px;}
.sitemap{float: right;}
.footer_inner a{display: inline-block; padding-right: 40px;}
.copy{text-align: center;}



 



